# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

# dependabot.yml 文件的配置选项：https://docs.github.com/zh/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file
# 自定义依赖项更新：https://docs.github.com/zh/code-security/dependabot/dependabot-version-updates/customizing-dependency-updates
# 管理依赖项更新的所有拉取请求：https://docs.github.com/zh/code-security/dependabot/working-with-dependabot/managing-pull-requests-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "maven" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "daily"
    # https://docs.github.com/zh/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file#ignore
    ignore:
      - dependency-name: org.springframework.boot:spring-boot-dependencies
        # spring-boot 3.0 不支持 JDK 8
        versions:
          - ">= 3"
      - dependency-name: org.springframework.cloud:spring-cloud-dependencies
        # spring-cloud 2022 不支持 JDK 8
        versions:
          - ">= 2022"
      - dependency-name: org.apache.cxf:cxf-rt-frontend-jaxws
        # cxf 4.0 不支持 JDK 8
        versions:
          - ">= 4"
      - dependency-name: org.apache.cxf:cxf-rt-transports-http
        # cxf 4.0 不支持 JDK 8
        versions:
          - ">= 4"
      - dependency-name: org.apache.cxf:cxf-rt-features-logging
        # cxf 4.0 不支持 JDK 8
        versions:
          - ">= 4"
      - dependency-name: de.codecentric:spring-boot-admin-dependencies
        # spring-boot-admin 3.0 不支持 JDK 8
        versions:
          - ">= 3"
      - dependency-name: org.springframework.security:spring-security-oauth2-authorization-server
        # spring-security-oauth2-authorization-server 1.0 不支持 JDK 8
        versions:
          - ">= 1"
  - package-ecosystem: "npm"
    directory: "/passport-ui"
    schedule:
      interval: "daily"
  - package-ecosystem: "npm"
    directory: "/ui"
    schedule:
      interval: "daily"
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
