stages:
  - package
  - s2

variables:
  MAVEN_OPTS: "-Dhttps.protocols=TLSv1.2 -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=WARN -Dorg.slf4j.simpleLogger.showDateTime=true -Djava.awt.headless=true"
  MAVEN_CLI_OPTS: "--batch-mode --errors --fail-at-end --show-version -DinstallAtEnd=true -DdeployAtEnd=true"

cache:
  paths:
    - .m2/repository
    - authorization-server-ui/node/
    - authorization-server-ui/node_modules/
    - passport-ui/node/
    - passport-ui/node_modules/
    - ui/node/
    - ui/node_modules/

#
# package
package:
  stage: package
  image: maven:3.6.3-jdk-8
  script:
    - GPG_FILE=`find / -name xuxiaowei_0x97A36125_SECRET`
    - echo $GPG_FILE
    - gpg --import $GPG_FILE
    - SETTINGS_FILE=`find / -name settings.xml`
    - echo $SETTINGS_FILE
    - sed -i "s#</servers>#<server><id>ossrh</id><username>$ossrh_user</username><password>$ossrh_pass</password></server>&#" $SETTINGS_FILE
    - git --version
    - echo 常量网址：https://docs.gitlab.com/ee/ci/variables/predefined_variables.html
    - echo 当前分支：$CI_COMMIT_BRANCH
    - echo 主分支：$CI_DEFAULT_BRANCH
    - echo 项目路径：$CI_PROJECT_DIR
    - mvn clean -e -U package source:jar javadoc:jar install -Pgpg -DskipTests && echo 打包完成
    - mvn -pl authorization-server-ui package source:jar javadoc:jar install -Pgpg -Pexec -DskipTests && echo 授权服务前端可执行jar包打包完成
    - mvn -pl passport-ui package source:jar javadoc:jar install -Pgpg -Pexec -DskipTests && echo 登录服务前端可执行jar包打包完成
    - mvn -pl ui package source:jar javadoc:jar install -Pgpg -Pexec -DskipTests && echo UI服务前端可执行jar包打包完成
    - echo "以下命令再执行 package 后才能执行"
    - mvn -pl authorization-server-ui rar:rar -Prar -DskipTests && gpg --armor --detach-sign authorization-server-ui/target/*.rar && echo 登录服务前端可执行jar包打包完成
    - mvn -pl passport-ui rar:rar -Prar -DskipTests && gpg --armor --detach-sign passport-ui/target/*.rar && echo 登录服务前端可执行jar包打包完成
    - mvn -pl ui rar:rar -Prar -DskipTests && gpg --armor --detach-sign ui/target/*.rar && echo 登录服务前端可执行jar包打包完成
  artifacts:
    name: package
    paths:
      - target/xuxiaowei-cloud-starter-parent-*
      - admin-server/target/admin-server-*
      - authorization-server/target/authorization-server-*
      - authorization-server-ui/target/authorization-server-ui-*
      - cloud-commons-parent/cloud-starter-core/target/cloud-starter-core-*
      - cloud-commons-parent/cloud-starter-loadbalancer/target/cloud-starter-loadbalancer-*
      - cloud-commons-parent/cloud-starter-mybatis/target/cloud-starter-mybatis-*
      - cloud-commons-parent/cloud-starter-redis/target/cloud-starter-redis-*
      - cloud-commons-parent/cloud-starter-session-redis/target/cloud-starter-session-redis-*
      - cloud-commons-parent/cloud-starter-validation/target/cloud-starter-validation-*
      - cloud-commons-parent/target/cloud-commons-parent-*
      - example-parent/target/example-parent-*
      - example-parent/oauth2-client/target/oauth2-client-*
      - gateway/target/gateway-*
      - passport/target/passport-*
      - passport-ui/target/passport-ui-*
      - plugins/target/plugins-*
      - plugins/bos-maven-plugin/target/bos-maven-plugin-*
      - plugins/cos-maven-plugin/target/cos-maven-plugin-*
      - plugins/obs-maven-plugin/target/obs-maven-plugin-*
      - plugins/oss-maven-plugin/target/oss-maven-plugin-*
      - plugins/rar-maven-plugin/target/rar-maven-plugin-*
      - resource-server/target/resource-server-*
      - ui/target/ui-*
      - utils/target/utils-*
  only:
    - main

#
# s2
s2:
  stage: s2
  variables:
    MAVEN_OPTS: ''
    MAVEN_CLI_OPTS: ''
  script:
    - source /etc/profile && echo 刷新环境变量
    - git --version
    - echo 常量网址：https://docs.gitlab.com/ee/ci/variables/predefined_variables.html
    - echo 当前分支：$CI_COMMIT_BRANCH
    - echo 主分支：$CI_DEFAULT_BRANCH
    - echo 项目路径：$CI_PROJECT_DIR
    - mvn clean -e -U package source:jar javadoc:jar install -Pgpg -DskipTests && PACKAGE_FLAG=1
    - if [ "$PACKAGE_FLAG" == "1" ]; then echo '打包完成'; else echo '打包失败' && xxxx; fi
    - JAR_PATH=/home/gitlab-runner/jar/$CI_COMMIT_BRANCH
    - echo JAR_PATH：$JAR_PATH
    - if [ ! -f $JAR_PATH ]; then sudo mkdir $JAR_PATH -p && echo 创建发布文件夹完成; fi
    - echo
    - MODULE='gateway'
    - echo MODULE：$MODULE
    - ARTIFACT_ID=`mvn -e -U help:evaluate -pl $MODULE -Dexpression=project.artifactId -q -DforceStdout`
    - VERSION=`mvn help:evaluate -pl $MODULE -Dexpression=project.version -q -DforceStdout`
    - PACKAGING=`mvn help:evaluate -pl $MODULE -Dexpression=project.packaging -q -DforceStdout`
    - APP_NAME=$ARTIFACT_ID-$VERSION.$PACKAGING
    - echo APP_NAME：$APP_NAME
    - cp $MODULE/target/$APP_NAME $JAR_PATH/$APP_NAME && echo 复制新jar包完成
    - SERVICE=/usr/lib/systemd/system/$MODULE.service
    - echo SERVICE：$SERVICE
    - JAVA_HOME=/software/dragonwell-8.10.11
    - echo JAVA_HOME：$JAVA_HOME
    - echo "" > $SERVICE
    - echo "[Unit]" >> $SERVICE
    - echo "Description=$MODULE" >> $SERVICE
    - echo "After=syslog.target" >> $SERVICE
    - echo "" >> $SERVICE
    - echo "[Service]" >> $SERVICE
    - echo "EnvironmentFile=/etc/profile" >> $SERVICE
    - echo "ExecStart=$JAVA_HOME/bin/java -jar $JAR_PATH/$APP_NAME --spring.profiles.active=prod" >> $SERVICE
    - echo "" >> $SERVICE
    - echo "[Install]" >> $SERVICE
    - echo "WantedBy=multi-user.target" >> $SERVICE
    - echo "" >> $SERVICE
    - echo 创建新启动脚本完成
    - sudo systemctl enable $MODULE.service && echo 设置开机启动完成
    - sudo systemctl daemon-reload
    - sudo systemctl restart $MODULE.service && echo 重启项目完成
    - sudo systemctl status $MODULE.service && MODULE_STATUS=1
    - if [ "$MODULE_STATUS" == "1" ]; then echo '查看项目状态成功'; else echo '查看项目状态失败' && xxxx; fi
    - MODULE_STATUS=0
    - sleep 30 && echo 增加延时
    - sudo systemctl status $MODULE.service && MODULE_STATUS=1
    - if [ "$MODULE_STATUS" == "1" ]; then echo '延时查看项目状态成功'; else echo '查看项目状态失败' && xxxx; fi
    - MODULE_STATUS=0
    - echo
    - MODULE='admin-server'
    - echo MODULE：$MODULE
    - ARTIFACT_ID=`mvn -e -U help:evaluate -pl $MODULE -Dexpression=project.artifactId -q -DforceStdout`
    - VERSION=`mvn help:evaluate -pl $MODULE -Dexpression=project.version -q -DforceStdout`
    - PACKAGING=`mvn help:evaluate -pl $MODULE -Dexpression=project.packaging -q -DforceStdout`
    - APP_NAME=$ARTIFACT_ID-$VERSION.$PACKAGING
    - echo APP_NAME：$APP_NAME
    - cp $MODULE/target/$APP_NAME $JAR_PATH/$APP_NAME && echo 复制新jar包完成
    - SERVICE=/usr/lib/systemd/system/$MODULE.service
    - echo SERVICE：$SERVICE
    - JAVA_HOME=/software/dragonwell-8.10.11
    - echo JAVA_HOME：$JAVA_HOME
    - echo "" > $SERVICE
    - echo "[Unit]" >> $SERVICE
    - echo "Description=$MODULE" >> $SERVICE
    - echo "After=syslog.target" >> $SERVICE
    - echo "" >> $SERVICE
    - echo "[Service]" >> $SERVICE
    - echo "EnvironmentFile=/etc/profile" >> $SERVICE
    - echo "ExecStart=$JAVA_HOME/bin/java -jar $JAR_PATH/$APP_NAME --spring.profiles.active=prod" >> $SERVICE
    - echo "" >> $SERVICE
    - echo "[Install]" >> $SERVICE
    - echo "WantedBy=multi-user.target" >> $SERVICE
    - echo "" >> $SERVICE
    - echo 创建新启动脚本完成
    - sudo systemctl enable $MODULE.service && echo 设置开机启动完成
    - sudo systemctl daemon-reload
    - sudo systemctl restart $MODULE.service && echo 重启项目完成
    - sudo systemctl status $MODULE.service && MODULE_STATUS=1
    - if [ "$MODULE_STATUS" == "1" ]; then echo '查看项目状态成功'; else echo '查看项目状态失败' && xxxx; fi
    - MODULE_STATUS=0
    - sleep 30 && echo 增加延时
    - sudo systemctl status $MODULE.service && MODULE_STATUS=1
    - if [ "$MODULE_STATUS" == "1" ]; then echo '延时查看项目状态成功'; else echo '查看项目状态失败' && xxxx; fi
    - MODULE_STATUS=0
    - echo
    - MODULE='authorization-server'
    - echo MODULE：$MODULE
    - ARTIFACT_ID=`mvn -e -U help:evaluate -pl $MODULE -Dexpression=project.artifactId -q -DforceStdout`
    - VERSION=`mvn help:evaluate -pl $MODULE -Dexpression=project.version -q -DforceStdout`
    - PACKAGING=`mvn help:evaluate -pl $MODULE -Dexpression=project.packaging -q -DforceStdout`
    - APP_NAME=$ARTIFACT_ID-$VERSION.$PACKAGING
    - echo APP_NAME：$APP_NAME
    - cp $MODULE/target/$APP_NAME $JAR_PATH/$APP_NAME && echo 复制新jar包完成
    - SERVICE=/usr/lib/systemd/system/$MODULE.service
    - echo SERVICE：$SERVICE
    - JAVA_HOME=/software/dragonwell-8.10.11
    - echo JAVA_HOME：$JAVA_HOME
    - echo "" > $SERVICE
    - echo "[Unit]" >> $SERVICE
    - echo "Description=$MODULE" >> $SERVICE
    - echo "After=syslog.target" >> $SERVICE
    - echo "" >> $SERVICE
    - echo "[Service]" >> $SERVICE
    - echo "EnvironmentFile=/etc/profile" >> $SERVICE
    - echo "ExecStart=$JAVA_HOME/bin/java -jar $JAR_PATH/$APP_NAME --spring.profiles.active=prod" >> $SERVICE
    - echo "" >> $SERVICE
    - echo "[Install]" >> $SERVICE
    - echo "WantedBy=multi-user.target" >> $SERVICE
    - echo "" >> $SERVICE
    - echo 创建新启动脚本完成
    - sudo systemctl enable $MODULE.service && echo 设置开机启动完成
    - sudo systemctl daemon-reload
    - sudo systemctl restart $MODULE.service && echo 重启项目完成
    - sudo systemctl status $MODULE.service && MODULE_STATUS=1
    - if [ "$MODULE_STATUS" == "1" ]; then echo '查看项目状态成功'; else echo '查看项目状态失败' && xxxx; fi
    - MODULE_STATUS=0
    - sleep 30 && echo 增加延时
    - sudo systemctl status $MODULE.service && MODULE_STATUS=1
    - if [ "$MODULE_STATUS" == "1" ]; then echo '延时查看项目状态成功'; else echo '查看项目状态失败' && xxxx; fi
    - MODULE_STATUS=0
    - echo
    - MODULE='passport'
    - echo MODULE：$MODULE
    - ARTIFACT_ID=`mvn -e -U help:evaluate -pl $MODULE -Dexpression=project.artifactId -q -DforceStdout`
    - VERSION=`mvn help:evaluate -pl $MODULE -Dexpression=project.version -q -DforceStdout`
    - PACKAGING=`mvn help:evaluate -pl $MODULE -Dexpression=project.packaging -q -DforceStdout`
    - APP_NAME=$ARTIFACT_ID-$VERSION.$PACKAGING
    - echo APP_NAME：$APP_NAME
    - cp $MODULE/target/$APP_NAME $JAR_PATH/$APP_NAME && echo 复制新jar包完成
    - SERVICE=/usr/lib/systemd/system/$MODULE.service
    - echo SERVICE：$SERVICE
    - JAVA_HOME=/software/dragonwell-8.10.11
    - echo JAVA_HOME：$JAVA_HOME
    - echo "" > $SERVICE
    - echo "[Unit]" >> $SERVICE
    - echo "Description=$MODULE" >> $SERVICE
    - echo "After=syslog.target" >> $SERVICE
    - echo "" >> $SERVICE
    - echo "[Service]" >> $SERVICE
    - echo "EnvironmentFile=/etc/profile" >> $SERVICE
    - echo "ExecStart=$JAVA_HOME/bin/java -jar $JAR_PATH/$APP_NAME --spring.profiles.active=prod" >> $SERVICE
    - echo "" >> $SERVICE
    - echo "[Install]" >> $SERVICE
    - echo "WantedBy=multi-user.target" >> $SERVICE
    - echo "" >> $SERVICE
    - echo 创建新启动脚本完成
    - sudo systemctl enable $MODULE.service && echo 设置开机启动完成
    - sudo systemctl daemon-reload
    - sudo systemctl restart $MODULE.service && echo 重启项目完成
    - sudo systemctl status $MODULE.service && MODULE_STATUS=1
    - if [ "$MODULE_STATUS" == "1" ]; then echo '查看项目状态成功'; else echo '查看项目状态失败' && xxxx; fi
    - MODULE_STATUS=0
    - sleep 30 && echo 增加延时
    - sudo systemctl status $MODULE.service && MODULE_STATUS=1
    - if [ "$MODULE_STATUS" == "1" ]; then echo '延时查看项目状态成功'; else echo '查看项目状态失败' && xxxx; fi
    - MODULE_STATUS=0
    - echo
    - MODULE='passport-ui'
    - echo MODULE：$MODULE
    - if [ "$PACKAGE_FLAG" == "1" ]; then echo '打包完成'; else echo '打包失败' && xxxx; fi
    - if [ ! -f $RELEASE_PATH ]; then sudo mkdir $RELEASE_PATH -p && echo 创建文件夹完成; fi
    - RELEASE_PATH=/home/gitlab-runner/node/$MODULE
    - echo RELEASE_PATH：$RELEASE_PATH
    - if [ ! -f $RELEASE_PATH ]; then sudo mkdir $RELEASE_PATH -p && echo 创建发布文件夹完成; fi
    - cp -r ./$MODULE/dist/* $RELEASE_PATH && echo 复制新文件夹完成
  artifacts:
    paths:
      - target/xuxiaowei-cloud-starter-parent-*
      - admin-server/target/admin-server-*
      - authorization-server/target/authorization-server-*
      - authorization-server-ui/target/authorization-server-ui-*
      - cloud-commons-parent/cloud-starter-core/target/cloud-starter-core-*
      - cloud-commons-parent/cloud-starter-loadbalancer/target/cloud-starter-loadbalancer-*
      - cloud-commons-parent/cloud-starter-mybatis/target/cloud-starter-mybatis-*
      - cloud-commons-parent/cloud-starter-redis/target/cloud-starter-redis-*
      - cloud-commons-parent/cloud-starter-session-redis/target/cloud-starter-session-redis-*
      - cloud-commons-parent/cloud-starter-validation/target/cloud-starter-validation-*
      - cloud-commons-parent/target/cloud-commons-parent-*
      - example-parent/target/example-parent-*
      - example-parent/oauth2-client/target/oauth2-client-*
      - gateway/target/gateway-*
      - passport/target/passport-*
      - passport-ui/target/passport-ui-*
      - plugins/target/plugins-*
      - plugins/bos-maven-plugin/target/bos-maven-plugin-*
      - plugins/cos-maven-plugin/target/cos-maven-plugin-*
      - plugins/obs-maven-plugin/target/obs-maven-plugin-*
      - plugins/oss-maven-plugin/target/oss-maven-plugin-*
      - plugins/rar-maven-plugin/target/rar-maven-plugin-*
      - resource-server/target/resource-server-*
      - ui/target/ui-*
      - utils/target/utils-*
  tags:
    - s2
  only:
    - s2
