#
# 删除 sh 文件中的特殊符号（line 1: $'\r': command not found）：sed -i 's/\r$//' nacos.service
# 位置：/usr/lib/systemd/system/nacos.service
#
# 查看状态：systemctl status nacos.service
# 启动服务：systemctl start nacos.service
# 停止服务：systemctl stop nacos.service
# 重启服务：systemctl restart nacos.service
# 打开开机自启：systemctl enable nacos.service
# 关闭开启自启：systemctl disable nacos.service
# 查看开机自启：systemctl list-unit-files | grep nacos.service
# 查看开机自启：systemctl is-enabled nacos.service
#
# 开放端口
# firewall-cmd --zone=public --add-port=8848/tcp --permanent
# firewall-cmd --zone=public --add-port=9848/tcp --permanent
# firewall-cmd --zone=public --add-port=9849/tcp --permanent
# 重载防火墙
# firewall-cmd --reload
# 查看所有开放的端口与服务
# firewall-cmd --list-all
#
# 连接 MySQL 数据库
# 表结构：nacos-server-2.2.2/conf/nacos-mysql.sql
# 数据库名：nacos_config
# 修改：nacos-server-2.2.2/conf/application.properties（注意，一下内容要去掉开头的“#”）
# spring.datasource.platform=mysql
# db.num=1
# db.url.0=jdbc:mysql://192.168.5.4:3306/nacos_config?characterEncoding=utf8&connectTimeout=1000&socketTimeout=3000&autoReconnect=true&useUnicode=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
# db.user.0=root
# db.password.0=root
#
# 修改 nacos.core.auth.plugin.nacos.token.secret.key、nacos.core.auth.server.identity.key、nacos.core.auth.server.identity.value
# 文档：https://nacos.io/zh-cn/docs/v2/guide/user/auth.html
# 如：
# 以下值需要自行修改，否则有安全隐患
# 版本号 2.2.0.1 后无默认值
# nacos.core.auth.plugin.nacos.token.secret.key=SecretKey012345678901234567890123456789012345678901234567890123456789
# 版本号 2.2.1 后无默认值
# nacos.core.auth.server.identity.key=serverIdentity
# 版本号 2.2.1 后无默认值
# nacos.core.auth.server.identity.value=security
# v2.2.2 之后，需要设置 nacos.core.auth.enabled=true 才能开启鉴权
# 开启鉴权后，微服务注册需要配置用户名、密码，配置参见各个服务的 bootstrap.yml 和 nacos 数据库的 SQL 脚本
# nacos.core.auth.enabled=true

[Unit]
Description=nacos
After=syslog.target

[Service]
Type=oneshot
# 需要在 startup.sh 文件开头指定 JAVA_HOME 变量，该文件中的 JAVA_HOME 有最高优先级
# 如果使用环境变量文件 EnvironmentFile，可能会导致无法启动的情况
ExecStart=/software/nacos-server-2.2.2/bin/startup.sh -m standalone
ExecStop=/software/nacos-server-2.2.2/bin/shutdown.sh
ExecReload=/bin/kill -s HUP $MAINPID
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target


