<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cloud.xuxiaowei.system.mapper.OauthCodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cloud.xuxiaowei.system.entity.OauthCode">
        <id column="code" property="code" />
        <result column="authentication" property="authentication" />
        <result column="authentication_json" property="authenticationJson" />
        <result column="update_date" property="updateDate" />
        <result column="create_date" property="createDate" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>
