<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cloud.xuxiaowei.system.mapper.SocialMapper">

    <!-- 根据用户主键获取社交绑定 -->
    <select id="listByUsersId" resultType="cloud.xuxiaowei.system.vo.SocialVo">
        SELECT
            t.social_code,
            t.social_name,
            v.nickname,
            v.headimgurl,
            v.binding_date,
            CASE v.binding
                WHEN 1 THEN 1
                ELSE 0
            END AS binding
        FROM (
                SELECT 1 AS social_code, '微信' AS social_name
                UNION ALL
                SELECT 2 AS social_code, '码云' AS social_name
                UNION ALL
                SELECT 3 AS social_code, 'QQ' AS social_name
                UNION ALL
                SELECT 4 AS social_code, '微博' AS social_name
                UNION ALL
                SELECT 5 AS social_code, 'GitLab' AS social_name
                UNION ALL
                SELECT 6 AS social_code, '企业微信' AS social_name
                UNION ALL
                SELECT 7 AS social_code, 'GitHub' AS social_name
                UNION ALL
                SELECT 8 AS social_code, '钉钉' AS social_name
                UNION ALL
                SELECT 9 AS social_code, '支付宝' AS social_name
                UNION ALL
                SELECT 10 AS social_code, '飞书' AS social_name
            ) t
            LEFT JOIN (
                SELECT
                    1 AS social_code,
                    '微信' AS social_name,
                    uwow.nickname AS nickname,
                    uwow.headimgurl AS headimgurl,
                    uwow.binding_date AS binding_date,
                    1 AS binding
                FROM
                    users_wx_open_website uwow
                WHERE
                    uwow.users_id = #{usersId}

                UNION ALL

                SELECT
                    2 AS social_code,
                    '码云' AS social_name,
                    ug.`name` AS nickname,
                    ug.avatar_url AS headimgurl,
                    ug.binding_date AS binding_date,
                    1 AS binding
                FROM
                    users_gitee ug
                WHERE
                    ug.users_id = #{usersId}

                UNION ALL

                SELECT
                    3 AS social_code,
                    'QQ' AS social_name,
                    uqw.nickname AS nickname,
                    uqw.figureurl_2 AS headimgurl,
                    uqw.binding_date AS binding_date,
                    1 AS binding
                FROM
                    users_qq_website uqw
                WHERE
                    uqw.users_id = #{usersId}

                UNION ALL

                SELECT
                    4 AS social_code,
                    '微博' AS social_name,
                    uwbw.screen_name AS nickname,
                    uwbw.profile_image_url AS headimgurl,
                    uwbw.binding_date AS binding_date,
                    1 AS binding
                FROM
                    users_wei_bo_website uwbw
                WHERE
                    uwbw.users_id = #{usersId}

                UNION ALL

                SELECT
                    5 AS social_code,
                    'GitLab' AS social_name,
                    ug.name AS nickname,
                    ug.avatar_url AS headimgurl,
                    ug.binding_date AS binding_date,
                    1 AS binding
                FROM
                    users_gitlab ug
                WHERE
                    ug.users_id = #{usersId}

                UNION ALL

                SELECT
                    6 AS social_code,
                    '企业微信' AS social_name,
                    uwww.name AS nickname,
                    uwww.thumb_avatar AS headimgurl,
                    uwww.binding_date AS binding_date,
                    1 AS binding
                FROM
                    users_wx_work_website uwww
                WHERE
                    uwww.users_id = #{usersId}

                UNION ALL

                SELECT
                    7 AS social_code,
                    'GitHub' AS social_name,
                    ug.name AS nickname,
                    ug.avatar_url AS headimgurl,
                    ug.binding_date AS binding_date,
                    1 AS binding
                FROM
                    users_github ug
                WHERE
                    ug.users_id = #{usersId}

                UNION ALL

                SELECT
                    8 AS social_code,
                    '钉钉' AS social_name,
                    ud.nick AS nickname,
                    ud.avatar_url AS headimgurl,
                    ud.binding_date AS binding_date,
                    1 AS binding
                FROM
                    users_dingtalk ud
                WHERE
                    ud.users_id = #{usersId}

                UNION ALL

                SELECT
                    9 AS social_code,
                    '支付宝' AS social_name,
                    uaow.nick_name AS nickname,
                    uaow.avatar AS headimgurl,
                    uaow.binding_date AS binding_date,
                    1 AS binding
                FROM
                    users_alipay_oplatform_website uaow
                WHERE
                    uaow.users_id = #{usersId}

                UNION ALL

                SELECT
                    10 AS social_code,
                    '飞书' AS social_name,
                    ufw.`name` AS nickname,
                    ufw.picture AS headimgurl,
                    ufw.binding_date AS binding_date,
                    1 AS binding
                FROM
                    users_feishu_webpage ufw
                WHERE
                    ufw.users_id = #{usersId}

            ) v ON v.social_code = t.social_code
    </select>

</mapper>
