<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cloud.xuxiaowei.system.mapper.UsersQqWebsiteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cloud.xuxiaowei.system.entity.UsersQqWebsite">
        <id column="users_qq_website_id" property="usersQqWebsiteId" />
        <result column="users_id" property="usersId" />
        <result column="appid" property="appid" />
        <result column="openid" property="openid" />
        <result column="unionid" property="unionid" />
        <result column="nickname" property="nickname" />
        <result column="gender" property="gender" />
        <result column="gender_type" property="genderType" />
        <result column="binding_date" property="bindingDate" />
        <result column="access_token" property="accessToken" />
        <result column="expires_in" property="expiresIn" />
        <result column="refresh_token" property="refreshToken" />
        <result column="is_lost" property="isLost" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="year" property="year" />
        <result column="level" property="level" />
        <result column="constellation" property="constellation" />
        <result column="is_yellow_vip" property="isYellowVip" />
        <result column="yellow_vip_level" property="yellowVipLevel" />
        <result column="is_yellow_year_vip" property="isYellowYearVip" />
        <result column="vip" property="vip" />
        <result column="figureurl" property="figureurl" />
        <result column="figureurl_1" property="figureurl1" />
        <result column="figureurl_2" property="figureurl2" />
        <result column="figureurl_qq" property="figureurlQq" />
        <result column="figureurl_qq_1" property="figureurlQq1" />
        <result column="figureurl_qq_2" property="figureurlQq2" />
        <result column="figureurl_type" property="figureurlType" />
        <result column="remark" property="remark" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
        <result column="create_users_id" property="createUsersId" />
        <result column="update_users_id" property="updateUsersId" />
        <result column="create_ip" property="createIp" />
        <result column="update_ip" property="updateIp" />
        <result column="deleted" property="deleted" />

        <association property="users" javaType="cloud.xuxiaowei.system.entity.Users">

            <id column="u_users_id" property="usersId" />
            <result column="u_username" property="username" />
            <result column="u_email" property="email" />
            <result column="u_email_valid" property="emailValid" />
            <result column="u_phone" property="phone" />
            <result column="u_phone_valid" property="phoneValid" />
            <result column="u_nickname" property="nickname" />
            <result column="u_password" property="password" />
            <result column="u_sex" property="sex" />
            <result column="u_sex_label" property="sexLabel" />
            <result column="u_sex_explain" property="sexExplain" />
            <result column="u_birthday" property="birthday" />
            <result column="u_province_code" property="provinceCode" />
            <result column="u_province_name" property="provinceName" />
            <result column="u_city_code" property="cityCode" />
            <result column="u_city_name" property="cityName" />
            <result column="u_county_code" property="countyCode" />
            <result column="u_county_name" property="countyName" />
            <result column="u_town_code" property="townCode" />
            <result column="u_town_name" property="townName" />
            <result column="u_village_code" property="villageCode" />
            <result column="u_village_name" property="villageName" />
            <result column="u_detail_address" property="detailAddress" />
            <result column="u_enabled" property="enabled" />
            <result column="u_account_non_expired" property="accountNonExpired" />
            <result column="u_credentials_non_expired" property="credentialsNonExpired" />
            <result column="u_account_non_locked" property="accountNonLocked" />
            <result column="u_update_date" property="updateDate" />
            <result column="u_create_date" property="createDate" />
            <result column="u_deleted" property="deleted" />

            <!-- 权限 -->
            <collection property="authoritiesList" ofType="cloud.xuxiaowei.system.entity.Authorities">
                <id column="a_authorities_id" property="authoritiesId" />
                <result column="a_users_id" property="usersId" />
                <result column="a_authority" property="authority" />
                <result column="a_remark" property="remark" />
                <result column="a_create_users_id" property="createUsersId" />
                <result column="a_create_date" property="createDate" />
                <result column="a_create_ip" property="createIp" />
                <result column="a_update_users_id" property="updateUsersId" />
                <result column="a_update_date" property="updateDate" />
                <result column="a_update_ip" property="updateIp" />
                <result column="a_deleted" property="deleted" />
                <result column="a_explain" property="explain" />
            </collection>

        </association>

    </resultMap>

    <!-- 根据 QQ开放平台-网站用户ID、用户唯一标识 查询用户 -->
    <select id="getByAppidAndOpenid" resultMap="BaseResultMap">
        SELECT
            uqw.*,
            u.users_id AS u_users_id,
            u.username AS u_username,
            u.email AS u_email,
            u.email_valid AS u_email_valid,
            u.phone AS u_phone,
            u.phone_valid AS u_phone_valid,
            u.nickname AS u_nickname,
            u.`password` AS u_password,
            u.sex AS u_sex,
            u.birthday AS u_birthday,
            u.province_code AS u_province_code,
            u.city_code AS u_city_code,
            u.county_code AS u_county_code,
            u.town_code AS u_town_code,
            u.village_code AS u_village_code,
            u.detail_address AS u_detail_address,
            u.enabled AS u_enabled,
            u.account_non_expired AS u_account_non_expired,
            u.credentials_non_expired AS u_credentials_non_expired,
            u.account_non_locked AS u_account_non_locked,
            u.create_date AS u_create_date,
            u.update_date AS u_update_date,
            u.deleted AS u_deleted,
            a.authorities_id 	AS	a_authorities_id,
            a.users_id       	AS	a_users_id,
            a.authority      	AS	a_authority,
            a.remark         	AS	a_remark,
            a.create_users_id	AS	a_create_users_id,
            a.create_date    	AS	a_create_date,
            a.create_ip      	AS	a_create_ip,
            a.update_users_id	AS	a_update_users_id,
            a.update_date    	AS	a_update_date,
            a.update_ip      	AS	a_update_ip,
            a.deleted        	AS	a_deleted,
            a.users_id       	AS	a_users_id,
            a.authority      	AS	a_authority,
            a.remark         	AS	a_remark,
            a.create_users_id	AS	a_create_users_id,
            a.create_date    	AS	a_create_date,
            a.create_ip      	AS	a_create_ip,
            a.update_users_id	AS	a_update_users_id,
            a.update_date    	AS	a_update_date,
            a.update_ip      	AS	a_update_ip,
            a.deleted        	AS	a_deleted,
            ay.`explain`        AS  a_explain
        FROM
            users_qq_website AS uqw
                LEFT JOIN users AS u ON uqw.users_id = u.users_id AND u.deleted = 0
                LEFT JOIN authorities AS a ON u.users_id = a.users_id
                LEFT JOIN authority as ay ON ay.authority = a.authority
        WHERE uqw.deleted = 0
          AND uqw.appid = #{appid}
          AND uqw.openid = #{openid}
    </select>

</mapper>
