<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cloud.xuxiaowei.passport.mapper.Oauth2AuthorizationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cloud.xuxiaowei.passport.entity.Oauth2Authorization">
        <id column="id" property="id" />
        <result column="registered_client_id" property="registeredClientId" />
        <result column="principal_name" property="principalName" />
        <result column="authorization_grant_type" property="authorizationGrantType" />
        <result column="attributes" property="attributes" />
        <result column="state" property="state" />
        <result column="authorization_code_value" property="authorizationCodeValue" />
        <result column="authorization_code_issued_at" property="authorizationCodeIssuedAt" />
        <result column="authorization_code_expires_at" property="authorizationCodeExpiresAt" />
        <result column="authorization_code_metadata" property="authorizationCodeMetadata" />
        <result column="access_token_value" property="accessTokenValue" />
        <result column="access_token_issued_at" property="accessTokenIssuedAt" />
        <result column="access_token_expires_at" property="accessTokenExpiresAt" />
        <result column="access_token_metadata" property="accessTokenMetadata" />
        <result column="access_token_type" property="accessTokenType" />
        <result column="access_token_scopes" property="accessTokenScopes" />
        <result column="oidc_id_token_value" property="oidcIdTokenValue" />
        <result column="oidc_id_token_issued_at" property="oidcIdTokenIssuedAt" />
        <result column="oidc_id_token_expires_at" property="oidcIdTokenExpiresAt" />
        <result column="oidc_id_token_metadata" property="oidcIdTokenMetadata" />
        <result column="refresh_token_value" property="refreshTokenValue" />
        <result column="refresh_token_issued_at" property="refreshTokenIssuedAt" />
        <result column="refresh_token_expires_at" property="refreshTokenExpiresAt" />
        <result column="refresh_token_metadata" property="refreshTokenMetadata" />
    </resultMap>

    <sql id="page">
        FROM
            oauth2_authorization oa
            JOIN oauth2_registered_client orc ON oa.registered_client_id = orc.id
        WHERE 1 = 1
        <if test="param.registeredClientId != null and param.registeredClientId != ''">
            AND oac.registered_client_id = #{param.registeredClientId}
        </if>
        <if test="param.principalName != null and param.principalName != ''">
            AND oac.principal_name = #{param.principalName}
        </if>
    </sql>

    <!-- 分页查询授权的条数 -->
    <select id="countByOauth2AuthorizationPageBo" resultType="java.lang.Integer">
        SELECT
            count(1)
        <include refid="page" />
    </select>

    <!-- 分页查询授权的条数 -->
    <select id="listByOauth2AuthorizationPageBo"
            resultType="cloud.xuxiaowei.passport.vo.Oauth2AuthorizationVo">
        SELECT
            oa.*,
            orc.tenant_id,
            orc.client_id,
            orc.client_name
        <include refid="page" />
        ORDER BY oa.access_token_issued_at DESC
        LIMIT ${(param.current - 1) * param.size}, ${param.size}
    </select>

</mapper>
