<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cloud.xuxiaowei.passport.mapper.Oauth2AuthorizationConsentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cloud.xuxiaowei.passport.entity.Oauth2AuthorizationConsent">
        <id column="registered_client_id" property="registeredClientId" />
        <id column="principal_name" property="principalName" />
        <result column="authorities" property="authorities" />
    </resultMap>

    <sql id="page">
        FROM
            oauth2_authorization_consent oac
            JOIN oauth2_registered_client orc ON oac.registered_client_id = orc.id
        WHERE 1 = 1
        <if test="param.registeredClientId != null and param.registeredClientId != ''">
            AND oac.registered_client_id = #{param.registeredClientId}
        </if>
        <if test="param.principalName != null and param.principalName != ''">
            AND oac.principal_name = #{param.principalName}
        </if>
    </sql>

    <!-- 分页查询授权同意书的条数 -->
    <select id="countByOauth2AuthorizationConsentPageBo" resultType="java.lang.Integer">
        SELECT
            count(1)
        <include refid="page" />
    </select>

    <!-- 分页查询授权同意书的内容 -->
    <select id="listByOauth2AuthorizationConsentPageBo"
            resultType="cloud.xuxiaowei.passport.vo.Oauth2AuthorizationConsentVo">
        SELECT
            oac.*,
            orc.tenant_id,
            orc.client_id,
            orc.client_name
        <include refid="page" />
        LIMIT ${(param.current - 1) * param.size}, ${param.size}
    </select>

</mapper>
